//COLORS
$cyan: #2acfcf;
$lighterCyan: #9de2e0;
$dakViolet: #3b3054;
$red: #f46262;
$gray: #bfbfbf;
$grayishViolet: #9e9aa7;
$veryDarkBlue: #35323e;
$veryDarkViolet: #232127;
$white: #FFF;
$black: #000;
$lighterBlack: #1F1F1F;


//FONTS
$mainFont: "Poppins", sans-serif;

//WEIGHT
$normalWeight: 500;
$boldWeight: 700;