header{
  background-color: $white;
  padding: 32px;
  display: flex;
  justify-content: center;

  .roundedBtn{
    padding: 10px 30px;
  }
}

.headerInner{
  display: flex;
  gap: 32px;

justify-content: space-between;}

.headerCol{
  display: flex;
  align-items: center;
  
  &:first-of-type{
    gap: 32px;
  }

  &:last-of-type{
    gap: 16px;
  }
}

.headerNavigation{
  ul{
    display: flex;
    gap: 16px;
  }
}

.headerLink{
  color: $grayishViolet;
  font-weight: $boldWeight;
  transition: 0.5s;

  &:hover{
    color: $veryDarkBlue;
  }
}