.cyanBtn{
  background-color: $cyan;
  color: $white;
  transition: 0.5s;
  font-weight: $boldWeight;
  display: inline-block;
  border: 0;

  &:hover{
    background-color: $lighterCyan;
  }
}

.roundedBtn{
  border-radius: 30px;
}

.lessRoundedBtn{
  border-radius: 10px;
}