#boostYourLinksSection{
  padding: 64px 32px;
  background-color: $darkViolet;
  background-image: url('../images/bg-boost-desktop.svg');
  background-position: center;
  background-size: cover;
  text-align: center;

  @include mobile{
    background-image: url('../images/bg-boost-mobile.svg');
    padding: 128px 16px;
  }

  h2{
    color: $white;
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 32px;

    @include mobile{
      font-size: 1.5rem;
      margin-bottom: 16px;
    }
  }

  .cyanBtn{
    font-size: 1.25rem;
    width: 200px;
    height: 58px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    @include mobile{
      font-size: 1rem;
      height: 50px;
    }
  }
}