footer{
  padding: 64px 32px;
  background-color: $veryDarkViolet;
  display: flex;
  justify-content: center;
  color: #FFF;

  .socialNetNav{
    display: inline-flex;
    gap: 16px;
    align-items: center;
  }
}

.footerInner{
  display: flex;
  gap: 98px;

  .col:first-of-type{
    flex: 1;
  }
}

.footerLogo{

  path {
    fill: #FFF !important;
  }
}

.footerTitle{
  margin-bottom: 32px;
  font-weight: $boldWeight;
  font-size: 1.125rem;
}

.footerNavigation{
  a {
    color: $grayishViolet;
    transition: 0.5s;

    &:hover{
      color: $cyan;
    }
  }

  li{
    margin-bottom: 8px;
  }
}