header {
  background-color: $white;
  padding: 32px;
  display: flex;
  justify-content: center;

  .roundedBtn {
    padding: 10px 30px;
  }
}

.headerInner {
  display: flex;
  gap: 32px;
  justify-content: space-between;

  @include mobile{
    position: relative;
  }
}

.headerNavigation{
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  @include mobile{
    position: absolute;
    top: calc(100% + 16px);
    width: 100%;
    z-index: 2;
    padding: 32px 16px;
    background-color: $darkViolet;
    border-radius: 8px;
    flex-direction: column;
  }
}

.headerCol {
  display: flex;
  align-items: center;

  &:first-of-type {
    gap: 32px;
  }

  &:last-of-type {
    gap: 16px;
  }
}

.headerNavigation {
  ul {
    display: flex;
    gap: 16px;
    align-items: center;
  
    @include mobile{
      flex-direction: column;
      width: 100%;
    }

    &:nth-of-type(2){
      @include mobile{
        border-top: 1px solid $white;
        padding-top: 16px;
      }
    }

    li, a{
      @include mobile{
        width: 100%;
        text-align: center;
      }
    }

    a{
      @include mobile{
        color: $white;
      }
    }
  }
}

.headerLink {
  color: $grayishViolet;
  font-weight: $boldWeight;
  transition: 0.5s;

  &:hover {
    color: $veryDarkBlue;
  }
}
