#shortLinkGeneratorSection {
  padding: 0 32px 128px;
  background-color: $lightGrayishBlue;

  @include mobile{
    padding: 0 16px 64px;
  }

  .container {
    position: relative;
  }

  .shortLinkGeneratorWrapper {
    padding: 64px;
    background-image: url(../images/bg-shorten-desktop.svg);
    background-size: cover;
    background-position: center;
    background-color: $darkViolet;
    border-radius: 20px;
    position: absolute;
    top: -96px;
    width: 100%;

    @include mobile{
      padding: 16px;
      width: 100%;
    }
  }

  .shortLinkGenerator {
    display: flex;
    gap: 32px;

    @include mobile{
      flex-direction: column;
      gap: 8px;
    }

    input {
      flex: 1;
      font-size: 1.25rem;
      border: 0;
      padding: 0 16px;
      border: 2px solid $white;
      border-radius: 10px;

      &:focus {
        outline: none;
      }

      @include mobile{
        font-size: 16px;
        padding: 12px 8px;
      }
    }
  }

  form {
    .lessRoundedBtn {
      display: flex;
      font-size: 1.25rem;
      justify-content: center;
      text-align: center;
      align-items: center;
      height: 64px;
      width: 186px;

      @include mobile{
        height: 50px;
        width: 100%;
        font-size: 1.125rem;
      }
    }
  }

  .shortenedLinks {
    margin-top: 128px;
  }
}

.shortenedLinksWrapper {
  padding-top: 128px;

  @include mobile{
    padding-top: 64px;
  }

  .shortenedLinkLi{
    padding: 32px;
    background-color: $white;
    border-radius: 8px;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.375rem;
    font-weight: 500;
    color: $veryDarkBlue;
  
    @include mobile{
      padding: 8px 0;
    }
  }
}

.completeLink{
  display: inline-flex;
  align-items: center;
}

.shortenedLinkAnchor{
  color: $strongCyan;
  margin-right: 16px;
}

.copyShortenedLink{
  height: 45px;
  width: 120px;
  font-size: 18px;
}
